body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  transition: background 0.3s;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: white;
  color: black;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition:
    background 0.3s,
    color 0.3s;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
}

.nav-links a:hover {
  text-decoration: underline;
}

/* BUTTON */
.theme-btn {
  padding: 5px 12px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  background: black;
  color: white;
}

/* DARK MODE */
.dark {
  background: #1e1e1e;
  color: white;
}

.dark .navbar {
  background: #121212;
  color: white;
}

.dark .theme-btn {
  background: white;
  color: black;
}
